.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    margin: 20px auto;
}

.main div {
    padding: 5px 15px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
}

.main div:hover {
    background-color: #343b43;
    transition: 0.3s;
    cursor: pointer;
}
