.body {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.name {
    font-size: 30px;
    font-weight: 800;
    margin-right: 10px;
}

.git_link {
    display: flex;
    align-items: center;
    color: black;
    transition: 0.3s;
    text-decoration: none;
    width: fit-content;
}

.git_link:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.git_link svg {
    margin-right: 5px;
}

.profile_image {
    border-radius: 50%;
    border: 2px solid #eeeeee;
    height: 100px;
    left: 10%;
    object-fit: cover;
    width: 100px;
    margin-right: 20px;
}
